<div class="form-check">
  <input 
    class="form-check-input" 
    type="radio" 
    id="{{inputName}}"
    value="" 
    data-input="{{inputName}}">
  <label 
    class="form-check-label" 
    for="{{inputName}}">
    {{text}}
  </label>
</div>