<div class="col-sm-6 col-lg-4 col-xl-3 pb-3 d-flex">
    <div class="card mx-auto" style="width: 18rem">
    
      <iframe src="{{course_link}}" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
      </iframe>

      <div class="card-body">
        {{> @partial-block }}
      </div>
    </div>
</div>
