<form class=" g-3" id="loginForm" novalidate>
  <img style="width: 80px;" src="/images/bee-strong-logo-sm.jpeg" class="rounded-circle d-inline-block">
  <h2 class="h3 mb-3 fw-normal text-center">Log In</h2>

  {{> textInput 
    label="Email" type="email" inputName="email" 
    placeholder="sample@email.com"}}
  
  {{> textInput label="Password" type="password" inputName="password" 
    placeholder="password"}}

  {{#> buttonYellow class="w-100" type="submit"}}
    Sign In
  {{/buttonYellow}}
</form>

<script src="/js/login.js"></script>
