<form class=" g-3" id="loginForm" novalidate>
  <h2 class="h3 mb-3 fw-normal text-center">Log in</h2>

  {{> textInput 
    label="Email" type="email" inputName="email" 
    placeholder="sample@email.com"}}
  
  {{> textInput label="Password" type="password" inputName="password" 
    placeholder="password"}}

  {{> button class="w-100" text="Sign in" type="submit"}}
</form>

<script src="/js/login.js"></script>
