<!-- Modal -->
<div class="modal fade" id="course-student-modal" tabindex="-1" 
  aria-labelledby="course-student-modal-Label" aria-hidden="true">
  <div class="modal-dialog  modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="course-student-modal-Label">Student List</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <table id="student-table" class="table table-warning table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Student Name</th>
            </tr>
          </thead>
          <tbody>
            
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>