<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- font awesome -->
    <link 
      rel="stylesheet" 
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" 
      integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" 
      crossorigin="anonymous" 
      referrerpolicy="no-referrer" />
      
    <!-- Bootstrap CSS -->
    <link 
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" 
      rel="stylesheet" 
      integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" 
      crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <title>BeeStrong</title>
  </head>

  <body class="min-vh-100">
    <!-- HEADER -->
    <header class="p-3 bg-dark text-white">
      <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-2 border-bottom">
        
          <h3 class="align-items-center col-md-3 mb-2 mb-md-0 text-light text-decoration-none">
            BeeStrong
          </h3>

          <div class="col-md-3 text-end">
            {{#if loggedIn}}
              <button 
                id='btn-logout' 
                type="button" 
                class="btn btn-outline-light me-2">
                Logout
              </button>
            {{/if}}
          </div>
        </div>
      </div>
    </header>
    

    <!-- MAIN -->
    <main class="container container-fluid mt-5">
      {{{ body }}}
    </main>
    <footer>
      
    </footer>

    <script 
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" 
      integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" 
      crossorigin="anonymous">
    </script>
    
    {{#if loggedIn }}
      <script src='/js/logout.js'></script>
    {{/if}}
  </body>
</html>