<div class="p-5 mb-4 bg-light rounded-3">
  <h2>Welcome {{user.instructor.instructor_name}}, </h2>
</div>


<div class="container">
  <h1>My Content</h1> 
  {{#each courses as | course |}}
    {{> instructorContent}}
  {{/each}}
</div>