<div class="p-5 mb-4 bg-light rounded-3 text-center">

  <h2>Choose your workout</h2>
  <div id="search-bar" class="container-fluid search-bar ">
    {{#each tags as | tag |}}
      <button 
        type="button" class="btn btn-search" data-tag-name="{{tag.tag_name}}"
        data-result-target="#result-container">
        {{tag.tag_name}}
      </button>
    {{/each}}
  </div>
    
</div>

<h2 class="text-center pb-5">Let's get ready to bumble!</h2>
<div
  id="result-container"
  class="
    container-fluid
    results-container
    d-flex
    flex-wrap
    justify-content-center
  ">

  {{!-- result  --}}
  {{#each courses as | course |}}
    {{> courseCard instructor_name=this.instructor.instructor_name canSave=true}}
  {{/each}}
</div>


<script src="/js/searchByTag.js"></script>
<script src="/js/saveCourse.js"></script>