<div class="p-5 mb-4 bg-light rounded-3">
  <h2>Welcome, {{user.student.student_name}}! Are you buzzing to get started?</h2>
  <div class="d-flex justify-content-end">
    <div class="mx-2">
      {{#> buttonYellow }}
        <a class="text-decoration-none text-dark" href="/results">Search and Add Workouts</a>
      {{/buttonYellow}}
    </div>
    <div>
      <button id="btn-delete-user" type="button" class="btn btn-dark" 
        data-user-id="{{user.id}}">
        Delete Account
      </button>
    </div>
  </div>
</div>

<h2 class="text-center pb-5">Saved Workouts</h2>
<div
  class="
    container-fluid
    results-container
    d-flex
    flex-wrap
    justify-content-center
  ">

  {{!-- saved workout --}}
  {{#each courses as | course |}}
    {{#> courseCard }} 
      {{> cardBodyStudent instructor_name=this.instructor.instructor_name}}
    {{/courseCard}}
  {{/each}}
</div>

<script src="/js/deleteAccount.js"></script>