
body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  
}

.login-form {
  width: 100%;
  max-width: 400px;
  padding: 15px;
  margin: auto;
}

video {
  max-width: 100%;
}

.hero-image {
  background-image: url('/images/hero_image.jpg');
  width: 100%;
  height: 75vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  background-attachment: fixed;
}




/* if in mobile (< 576px */
/* increase the hero to 100vh */
@media screen and (max-width : 576px) {
  
  .hero-image{
    height: 100vh;
  }
  
  .hero-title {
    font-size: 20px;
  }

  .hero-subtitle {
    font-size: 10px;
  }
}

/* 576px < screen < 800px */
@media screen and (min-width: 576px) and (max-width: 800px) {
  .hero-image{
    height: 90vh;
  }
}


.hero-title {
  font-size: 50px;
  color: white;

}

.hero-subtitle {
  font-size: 25px;
  font-weight: bold;
  color: black;
  padding-top: 5px;;
}

.upcoming-class-card {
  width: 350px;
  height: 350px;
  object-fit: cover;
 
}
/*  search bar buttons */
.search-bar button:nth-child(odd) {
  color: #000;
  background-color: #ffc107;
  border-color: #ffc107;
}

.search-bar button:nth-child(even) {
  color: #fff;
  background-color: #212529;
  border-color: #212529;
}

/* invisible button */
.btn-invisible {
  border: none;
  background-color: rgba(255, 255, 255, 0);
}
