body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.login-form {
  width: 100%;
  max-width: 400px;
  padding: 15px;
  margin: auto;
}

video {
  max-width: 100%;
}

/*  search bar buttons */
.search-bar button:nth-child(odd) {
  color: #000;
  background-color: #ffc107;
  border-color: #ffc107;
}

.search-bar button:nth-child(even) {
  color: #fff;
  background-color: #212529;
  border-color: #212529;
}
